/* body{
    background-color:;
}
@media only screen and (max-width:600px) {
    body {
      background-color: lightblue;
    }
} */


/* body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
 */

 * 
    .responsive.map {
        padding: 0 6px;
        float: left;
        width: 50.99999%;

 }






#map {
    width: 1520px;
    height: 680px;
    /* background-image: url(../images/background_3.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    fill-opacity: 1;
    border: 0px solid darkred;
    padding: 00px 00px 00px 00px; 
    margin: center;
 }

 #map{
    /* background: linear-gradient(black,#074f1a); */
    /* background-image: url(../images/Final/LayoutTIF.png); */
    image-rendering: optimizeSpeed;

 }


 /* .my-label {
    position: absolute;
    border: 0px solid brown;
    background-color:;
    opacity:0;
    width:100px;
    font-size:14px;
    color:brown;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    text-decoration: ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

} */


/* .label-tooltip{
    background-color: rgb(0, 0, 0);
    height: auto;
    width: auto;
    color: white;
    border:-5px;
    border-color: rgba(62, 63, 65, 0.9);
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px;
    text-transform: capitalize;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    padding: 0px 10px 0px 10px;
    animation: mymove 4s ;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}



@keyframes mymove {
    from {background-color: #074f1a;}
    to {background-color: black;}
  } */


.popupCustom .leaflet-popup-content-wrapper {
    background-color: rgb(0, 0, 0);
    height: auto;
    width: auto;
    color: white;
    border:-5px;
    border-color: rgba(62, 63, 65, 0.9);
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px;
    text-transform: capitalize;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    padding: 0px 10px 0px 10px;
    animation: mymove 4s ;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    line-height: 24px;


    /* background: rgb(0, 0, 0);
    color: white;
    border:-5px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 0px; */
}


@keyframes mymove {
    from {background-color: #fec057;}
    to {background-color: black;}
  } */
.popupCustom .leaflet-popup-content-wrapper a {
    color: #3A3845;
}




.popupCustom.leaflet-popup-tip-container{
    position: absolute;
}


.popupCustom .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
}